<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
  <div class="container d-flex align-items-center justify-content-center flex-column">
    <div class="d-flex flex-column">
      <h1>Please Select game type</h1>
      <div class="select-game d-flex flex-column">
        <div class="game d-flex align-items-center justify-content-center">
          <label for="player">player vs. cpu</label>
          <input type="radio" id="player" value="player"
                 [checked]="selectedGameType==='player'"
                 (click)="selectGameType('player')">
        </div>
        <div class="game d-flex align-items-center justify-content-center">
          <label for="cpu">cpu vs. cpu</label>
          <input type="radio" id="cpu" value="cpu"
                 [checked]="selectedGameType==='cpu'"
                 (click)="selectGameType('cpu')">
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center my-5 flex-column">
      <div class="gameResult d-flex justify-content-center align-items-center">
        <h1>{{selectedGameType==='player' ? 'PLAYER SCORE:' : 'CPU1 SCORE:'}}{{selectedGameType==='player' ? gameResult.player : gameResult.cpu1}}</h1>
        <h1>CPU SCORE: {{gameResult.cpu}}</h1>
      </div>
      <div class="d-flex">

        <div class="player-choices d-flex align-items-center justify-content-center flex-column p-3" *ngIf="selectedGameType==='player'">
          <p>PLAYER CHOICE:</p>
          <div class="d-flex">
            <div class="choice mx-2">
              <p>Paper</p>
              <img src="./assets/img/paper.png" alt="paper-alt" (click)="selectPlay('paper')">
            </div>
            <div class="choice mx-2">
              <p>Rock</p>
              <img src="./assets/img/rock.png" alt="rock-alt" (click)="selectPlay('rock')">
            </div>
            <div class="choice mx-2">
              <p>Scissors</p>
              <img src="./assets/img/scissors.png" alt="scissors-alt" (click)="selectPlay('scissors')">
            </div>
          </div>
        </div>

        <div class="cpu-choice d-flex align-items-center justify-content-center flex-column p-3" *ngIf="selectedGameType==='cpu'">
          <p>CPU1 CHOICE:</p>
          <div class="choice" *ngIf="selectedGameType==='cpu' && computer1">
            <p>{{computer1}}</p>
            <img [src]="'./assets/img/'+ computer1 +'.png'" alt="cpu-alt">
          </div>
        </div>


        <div class="cpu-choice d-flex align-items-center justify-content-center flex-column p-3">
          <p>CPU CHOICE:</p>
         <div class="choice" *ngIf="computer">
           <p>{{computer}}</p>
           <img [src]="'./assets/img/'+ computer +'.png'" alt="cpu-alt">
         </div>
        </div>

      </div>
    </div>
  </div>
  <button (click)="cpucpu()" *ngIf="selectedGameType==='cpu'" class="mb-2"><b>PLAY CPU CPU</b></button>
  <button (click)="resetGame()"><b>RESET GAME</b></button>
</div>
